.header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-left: 10rem;
      padding: 2rem;
      
      background-color: #b2b8a3;
      text-align: center;
      }
      